<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js SPAのサンプルアプリケーション</title>
    </head>
    <body>
        <div id="app">
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧ページ</router-link>
            <router-view></router-view>
        </div>
        <script src="https://unpkg.com/vue@2.5.17"></script>
        <script src="https://unpkg.com/vue-router@3.0.1"></script>

        <script type="text/x-template" id="user-list">
            <div>
                <div class="loading" v-if="loading">読み込み中...</div>
                <div v-if="error" class="error">
                    {{ error }}
                </div>
                <!-- usersがロードされたら各ユーザーの名前を表示する -->
                <div v-for="user in users" :key="user.id">
                    <h2>{{ user.name }}</h2>
                </div>
            </div>
        </script>

        <script src="app.js"></script>
    </body>
</html>
